In [1]:
x = 5
 y = 8

IndentationError: ignored

In [2]:
D = [1,2,5,6,3]

D[:5]

[1, 2, 5, 6, 3]

In [5]:
Grades = [4,2,5,8,9,6,5,2,3,6,5,2,3,6,9,5]

100 * (Grades[0] * 1.5 ) / 20

30.0

In [6]:
100 * (Grades[1] * 1.5 ) / 20

15.0

In [7]:
100 * (Grades[2] * 1.5 ) / 20

37.5

In [ ]:
# Iteration

#  تنفيذ خطوات معينة علي جميع او عدد من عناصر البيانات

In [ ]:
N = [15,2,5,6]

In [14]:
Grades = [5,2,3,6,9]
Grades[0] + 20 *100

2005

In [15]:
n = ['a','b','c']
N  = ['F','R','T']


print(n)

['a', 'b', 'c']

In [20]:
Grades = [4,2,5,8,9,6,5,2,3,6,5,2,3,6,9,5]
Grades = [4,2,5]
Grades = [1,2,3,4]

In [24]:
for k in Grades : 
  print(k)


print('End')

print('hello')

1
2
3
4
End
hello

In [25]:
for k in Grades : 
  print(k)
  print('----------------------')

1
----------------------
2
----------------------
3
----------------------
4
----------------------

In [27]:
for k in [5,2,6,9] : 
  print(k)
  print('----------------------')

5
----------------------
2
----------------------
6
----------------------
9
----------------------

In [29]:
for k in [5] : 
  print(k)
  print('----------------------')

5
----------------------

In [30]:
for k in 5 : 
  print(k)
  print('----------------------')

TypeError: ignored

In [31]:
Grades = [5,2,3,6,9,8,8,5,4,2,5,6]
for i in Grades : 
  Value = ((i*1.5)/20) * 100
  print(Value)

37.5
15.0
22.5
45.0
67.5
60.0
60.0
37.5
30.0
15.0
37.5
45.0

In [35]:
Name = 'Mahmoud'
Age = 20
Address = 'Cairo'

Message = 'My name is ' + Name+ ' And I`m ' + str(Age) + ' years old , and I Live in ' + Address
print(Message)

My name is Mahmoud And I`m 20 years old , and I Live in Cairo

In [39]:
Message = f'My name is {Name} and I`m {Age} and I live in {Address}'
Message

'My name is Mahmoud and I`m 20 and I live in Cairo'

In [42]:
Phrase = 'Hi How are you doing'
Phrase.split()

['Hi', 'How', 'are', 'you', 'doing']

In [43]:
Email = 'Mahmoud@gmail.com'

Email.split('@')

['Mahmoud', 'gmail.com']

In [45]:
Email.split('@')[1]

'gmail.com'

In [44]:
IP = '125.36.85.96'

IP.split('.')

['125', '36', '85', '96']

In [46]:
IP.split('.')[0]

'125'

In [51]:
Grades = [5,2,3,6,5,8,2,1]

for i in Grades : 
  Value = ((i*1.5)/20)*100
  print(f'The Student grades ate Chemistry is {Value} %')

The Student grades ate Chemistry is 37.5 %
The Student grades ate Chemistry is 15.0 %
The Student grades ate Chemistry is 22.5 %
The Student grades ate Chemistry is 45.0 %
The Student grades ate Chemistry is 37.5 %
The Student grades ate Chemistry is 60.0 %
The Student grades ate Chemistry is 15.0 %
The Student grades ate Chemistry is 7.5 %

In [61]:
Emails = ['svs@gmail.com','sesd@hotmail.gov.fr','awxdq@yahoo.net','ASCASs@gmail.org.de','fffaz@hotmail.co.eg','sdvsd@yahoo.net']
UserNames = []
Domain = []
Exetension = []

for i in Emails : 
  UserNames.append(i.split('@')[0])
  Domain.append(i.split('@')[1])
  Exetension.append(i.split('.')[1])
UserNames  
Domain
Exetension

['com', 'gov', 'net', 'org', 'co', 'net']

In [58]:
E = 'svs@gmail.com'
E.split('@')[0]

'gmail.com'

In [65]:
for i in Grades   :
print(i)

IndentationError: ignored

In [73]:
Text = '''
"The Second World War" and "WWII" redirect here. For other uses, see The Second World War (disambiguation), WWII (disambiguation), and World War II (disambiguation).
World War II


in the



Clockwise from top left:
German Stuka dive bombers on the Eastern Front in December 1943Australian Ordnance QF 25-pounder guns during the First Battle of El AlameinChinese forces in the Battle of ChangdeUS naval force in the Lingayen GulfWilhelm Keitel signing the German Instrument of SurrenderSoviet troops in the Battle of Stalingrad
Date	
1 September 1939 – 2 September 1945[a]
(6 years and 1 day)
Location	
Major theaters:
EuropePacificAtlanticIndian OceanSouth-East AsiaChinaJapanMiddle EastMediterraneanNorth AfricaHorn of AfricaCentral AfricaAustraliaCaribbeanNorth and South America
Result	
Allied victory
Fall of Nazi Germany, Fascist Italy, and Imperial Japan
Allied military occupations of Germany, Japan, Austria, and Korea
Beginning of the Nuclear Age
Dissolution of the League of Nations and creation of the United Nations
Decolonisation of Asia and Africa and decline of European international influence
Emergence of the United States and the Soviet Union as rival superpowers and beginning of the Cold War (see Aftermath of World War II)
 
Participants
Allies	Axis
Commanders and leaders
Main Allied leaders:
Soviet Union Joseph Stalin
United States Franklin D. Roosevelt
United Kingdom Winston Churchill
Republic of China (1912–1949) Chiang Kai-shek
Main Axis leaders:
Nazi Germany Adolf Hitler
Empire of Japan Hirohito
Fascist Italy (1922–1943) Benito Mussolini
Casualties and losses
Military dead:
Over 16,000,000
Civilian dead:
Over 45,000,000
Total dead:
Over 61,000,000
(1937–1945)
...further details
Military dead:
Over 8,000,000
Civilian dead:
Over 4,000,000
Total dead:
Over 12,000,000
(1937–1945)
...further details
vte
Campaigns of World War II
World War II
Navigation
CampaignsCountriesEquipment
TimelineOutlineListsHistoriography
PortalCategoryBibliography
vte
World War II or the Second World War, often abbreviated as WWII or WW2, was a global conflict that lasted from 1939 to 1945. The vast majority of the world's countries, including all of the great powers, fought as part of two opposing military alliances: the Allies and the Axis. Many participants threw their economic, industrial, and scientific capabilities behind this total war, blurring the distinction between civilian and military resources. Aircraft played a major role, enabling the strategic bombing of population centres and the delivery of the only two nuclear weapons ever used in war.

World War II was by far the deadliest conflict in human history; it resulted in 70 to 85 million fatalities, mostly among civilians. Tens of millions died due to genocides (including the Holocaust), starvation, massacres, and disease. In the wake of the Axis defeat, Germany and Japan were occupied, and war crimes tribunals were conducted against German and Japanese leaders.

The causes of World War II are debated, but contributing factors included the Second Italo-Ethiopian War, Spanish Civil War, Second Sino-Japanese War, Soviet–Japanese border conflicts, the rise of fascism in Europe, and European tensions in the aftermath of World War I. World War II is generally considered to have begun on 1 September 1939, when Nazi Germany, under Adolf Hitler, invaded Poland. The United Kingdom and France subsequently declared war on Germany on 3 September. Under the Molotov–Ribbentrop Pact of August 1939, Germany and the Soviet Union had partitioned Poland and marked out their "spheres of influence" across Finland, Estonia, Latvia, Lithuania and Romania. From late 1939 to early 1941, in a series of campaigns and treaties, Germany conquered or controlled much of continental Europe, and formed the Axis alliance with Italy and Japan (with other countries later). Following the onset of campaigns in North Africa and East Africa, and the fall of France in mid-1940, the war continued primarily between the European Axis powers and the British Empire, with war in the Balkans, the aerial Battle of Britain, the Blitz of the United Kingdom, and the Battle of the Atlantic. On 22 June 1941, Germany led the European Axis powers in an invasion of the Soviet Union, opening the Eastern Front, the largest land theatre of war in history.

Japan, which aimed to dominate Asia and the Pacific, was at war with the Republic of China by 1937. In December 1941, Japan attacked American and British territories with near-simultaneous offensives against Southeast Asia and the Central Pacific, including an attack on the US fleet at Pearl Harbor which resulted in the United States and United Kingdom declaring war against Japan. The European Axis powers declared war on the United States in solidarity. Japan soon captured much of the western Pacific, but its advances were halted in 1942 after losing the critical Battle of Midway; later, Germany and Italy were defeated in North Africa and at Stalingrad in the Soviet Union. Key setbacks in 1943—including a series of German defeats on the Eastern Front, the Allied invasions of Sicily and the Italian mainland, and Allied offensives in the Pacific—cost the Axis powers their initiative and forced them into strategic retreat on all fronts. In 1944, the Western Allies invaded German-occupied France, while the Soviet Union regained its territorial losses and pushed Germany and its allies back. During 1944 and 1945, Japan suffered reversals in mainland Asia, while the Allies crippled the Japanese Navy and captured key western Pacific islands.

The war in Europe concluded with the liberation of German-occupied territories and the invasion of Germany by the Western Allies and the Soviet Union, culminating in the Fall of Berlin to Soviet troops, Hitler's suicide, and the German unconditional surrender on 8 May 1945. Following the refusal of Japan to surrender on the terms of the Potsdam Declaration (issued 26 July 1945), the United States dropped the first atomic bombs on the Japanese cities of Hiroshima on 6 August and Nagasaki on 9 August. Faced with an imminent invasion of the Japanese archipelago, the possibility of additional atomic bombings, and the Soviet Union's declared entry into the war against Japan on the eve of invading Manchuria, Japan announced on 10 August its intention to surrender, signing a surrender document on 2 September 1945.

World War II changed the political alignment and social structure of the globe and set the foundation for the international order of the world's nations during the Cold War and into present day. The United Nations was established to foster international co-operation and prevent future conflicts,[1] with the victorious great powers—China, France, the Soviet Union, the United Kingdom, and the United States—becoming the permanent members of its Security Council. The Soviet Union and the United States emerged as rival superpowers, setting the stage for the nearly half-century-long Cold War. In the wake of European devastation, the influence of its great powers waned, triggering the decolonisation of Africa and Asia. Most countries whose industries had been damaged moved towards economic recovery and expansion. Political and economic integration, especially in Europe, began as an effort to forestall future hostilities, end pre-war enmities, and forge a sense of common identity.

Start and end dates
See also: List of timelines of World War II
Timelines of World War II
Chronological
Prelude
(in Asiain Europe)
1939194019411942
194319441945 onwards
By topic
Diplomacy
Declarations of war
EngagementsOperations
Battle of Europe air operations
Eastern FrontManhattan Project
United Kingdom home front
Surrender of the Axis armies
vte
It is generally considered that, in Europe, World War II started on 1 September 1939,[2][3] beginning with the German invasion of Poland and the United Kingdom and France's declaration of war on Germany two days later on 3 September 1939. Dates for the beginning of the Pacific War include the start of the Second Sino-Japanese War on 7 July 1937,[4][5] or the earlier Japanese invasion of Manchuria, on 19 September 1931.[6][7] Others follow the British historian A. J. P. Taylor, who held that the Sino-Japanese War and war in Europe and its colonies occurred simultaneously, and the two wars became World War II in 1941.[8] Other starting dates sometimes used for World War II include the Italian invasion of Abyssinia on 3 October 1935.[9] The British historian Antony Beevor views the beginning of World War II as the Battles of Khalkhin Gol fought between Japan and the forces of Mongolia and the Soviet Union from May to September 1939.[10] Others view the Spanish Civil War as the start or prelude to World War II.[11][12]

The exact date of the war's end is also not universally agreed upon. It was generally accepted at the time that the war ended with the armistice of 14 August 1945 (V-J Day), rather than with the formal surrender of Japan on 2 September 1945, which officially ended the war in Asia. A peace treaty between Japan and the Allies was signed in 1951.[13] A 1990 treaty regarding Germany's future allowed the reunification of East and West Germany to take place and resolved most post-World War II issues.[14] No formal peace treaty between Japan and the Soviet Union was ever signed,[15] although the state of war between the two countries was terminated by the Soviet–Japanese Joint Declaration of 1956, which also restored full diplomatic relations between them.[16]

Background
Main article: Causes of World War II
Europe
World War I had radically altered the political European map, with the defeat of the Central Powers—including Austria-Hungary, Germany, Bulgaria, and the Ottoman Empire—and the 1917 Bolshevik seizure of power in Russia, which led to the founding of the Soviet Union. Meanwhile, the victorious Allies of World War I, such as France, Belgium, Italy, Romania, and Greece, gained territory, and new nation-states were created out of the collapse of Austria-Hungary and the Ottoman and Russian Empires.


The League of Nations assembly, held in Geneva, Switzerland, 1930
To prevent a future world war, the League of Nations was created during the 1919 Paris Peace Conference. The organisation's primary goals were to prevent armed conflict through collective security, military and naval disarmament, and settling international disputes through peaceful negotiations and arbitration.[17]

Despite strong pacifist se
'''

In [78]:
Text = Text.lower()
Words = []
for w in Text.split() : 
  Words.append(w)

In [79]:
Words[:10]

['"the',
 'second',
 'world',
 'war"',
 'and',
 '"wwii"',
 'redirect',
 'here.',
 'for',
 'other']

In [80]:
len(Words)

1620

In [81]:
len(set(Words))

689

In [82]:
Phrase = '''
World War II or the Second World War, often abbreviated as WWII or WW2, was a global conflict that lasted from 1939 to 1945. The vast majority of the world's countries, including all of the great powers, fought as part of two opposing military alliances: the Allies and the Axis. Many participants threw their economic, industrial, and scientific capabilities behind this total war, blurring the distinction between civilian and military resources. Aircraft played a major role, enabling the strategic bombing of population centres and the delivery of the only two nuclear weapons ever used in war.
'''

In [88]:
Letters = []
for i in Phrase.lower() : 
  Letters.append(i)
len(Letters)

600

In [89]:
len(set(Letters))

35

In [87]:
print(set(Letters))

{' ', 'e', '3', 'g', 'T', 'h', 'S', '1', 'c', '4', 'y', 'p', '2', '\n', 'a', 'i', 't', 'n', 'l', '9', 'u', 'f', '.', 'b', '5', 'M', 'j', 'A', ':', 'W', 'w', 'I', 'v', 'r', ',', 'm', 'x', 'o', 's', 'd', "'"}

In [91]:
Digits = []
for i in '63465468466516' : 
  Digits.append(i)

In [92]:
Digits

['6', '3', '4', '6', '5', '4', '6', '8', '4', '6', '6', '5', '1', '6']

In [ ]:
# I need to go
# أي نييد تو جو 


# انا عايز اسافر
# ana 3ayez asafer

In [94]:
Grades = [5,2,3,6,5,8,2,1]
n = 0
for i in Grades : 
  Value = ((i*1.5)/20)*100
  n=n+1
  print(f'The Student number {n} grades at Chemistry is {Value} %')

The Student number 1 grades at Chemistry is 37.5 %
The Student number 2 grades at Chemistry is 15.0 %
The Student number 3 grades at Chemistry is 22.5 %
The Student number 4 grades at Chemistry is 45.0 %
The Student number 5 grades at Chemistry is 37.5 %
The Student number 6 grades at Chemistry is 60.0 %
The Student number 7 grades at Chemistry is 15.0 %
The Student number 8 grades at Chemistry is 7.5 %

In [95]:
Grades = [5,2,3,6,5,8,2,1]

for n,i in enumerate(Grades) : 
  Value = ((i*1.5)/20)*100
  print(f'The Student number {n+1} grades at Chemistry is {Value} %')

The Student number 1 grades at Chemistry is 37.5 %
The Student number 2 grades at Chemistry is 15.0 %
The Student number 3 grades at Chemistry is 22.5 %
The Student number 4 grades at Chemistry is 45.0 %
The Student number 5 grades at Chemistry is 37.5 %
The Student number 6 grades at Chemistry is 60.0 %
The Student number 7 grades at Chemistry is 15.0 %
The Student number 8 grades at Chemistry is 7.5 %

In [97]:
Grades = [5,2,3,6,5,8,2,1]
Names = ['s','f','g','h','j','k','c','s']

for g,n in zip(Grades,Names) : 
  Value = ((g*1.5)/20)*100
  print(f'The Student {n} grades at Chemistry is {Value} %')

The Student s grades at Chemistry is 37.5 %
The Student f grades at Chemistry is 15.0 %
The Student g grades at Chemistry is 22.5 %
The Student h grades at Chemistry is 45.0 %
The Student j grades at Chemistry is 37.5 %
The Student k grades at Chemistry is 60.0 %
The Student c grades at Chemistry is 15.0 %
The Student s grades at Chemistry is 7.5 %

In [98]:
Grades = [5,2,3,6,5,8]
Names = ['s','f','g','h','j','k','c','s']

for g,n in zip(Grades,Names) : 
  Value = ((g*1.5)/20)*100
  print(f'The Student {n} grades at Chemistry is {Value} %')

The Student s grades at Chemistry is 37.5 %
The Student f grades at Chemistry is 15.0 %
The Student g grades at Chemistry is 22.5 %
The Student h grades at Chemistry is 45.0 %
The Student j grades at Chemistry is 37.5 %
The Student k grades at Chemistry is 60.0 %

In [99]:
Grades = [5,2,3,6,5,8,5,8,5,2,3,96,6]
Names = ['s','f','g','h','j','k','c','s']

for g,n in zip(Grades,Names) : 
  Value = ((g*1.5)/20)*100
  print(f'The Student {n} grades at Chemistry is {Value} %')

The Student s grades at Chemistry is 37.5 %
The Student f grades at Chemistry is 15.0 %
The Student g grades at Chemistry is 22.5 %
The Student h grades at Chemistry is 45.0 %
The Student j grades at Chemistry is 37.5 %
The Student k grades at Chemistry is 60.0 %
The Student c grades at Chemistry is 37.5 %
The Student s grades at Chemistry is 60.0 %

In [101]:
Grades = [5,2,3,6,5,5,8,5]
Names = ['s','f','g','h','j','k','c','s']
Country = ['SS','FF','SS','VV','CC','XX','ZZ','WW']

for g,n,c in zip(Grades,Names,Country) : 
  Value = ((g*1.5)/20)*100
  print(f'The Student {n} from Country {c} grades at Chemistry is {Value} %')

The Student s from Country SS grades at Chemistry is 37.5 %
The Student f from Country FF grades at Chemistry is 15.0 %
The Student g from Country SS grades at Chemistry is 22.5 %
The Student h from Country VV grades at Chemistry is 45.0 %
The Student j from Country CC grades at Chemistry is 37.5 %
The Student k from Country XX grades at Chemistry is 37.5 %
The Student c from Country ZZ grades at Chemistry is 60.0 %
The Student s from Country WW grades at Chemistry is 37.5 %

In [102]:
for S in ['Glasgow','Bristol','Plymouth'] : 
  for T in ['W','X','Y','Z'] : 
    print(f'Student {T} will study at {S}')

Student W will study at Glasgow
Student X will study at Glasgow
Student Y will study at Glasgow
Student Z will study at Glasgow
Student W will study at Bristol
Student X will study at Bristol
Student Y will study at Bristol
Student Z will study at Bristol
Student W will study at Plymouth
Student X will study at Plymouth
Student Y will study at Plymouth
Student Z will study at Plymouth

In [103]:
for T in ['W','X','Y','Z'] : 
  for S in ['Glasgow','Bristol','Plymouth'] : 
    print(f'Student {T} will study at {S}')

Student W will study at Glasgow
Student W will study at Bristol
Student W will study at Plymouth
Student X will study at Glasgow
Student X will study at Bristol
Student X will study at Plymouth
Student Y will study at Glasgow
Student Y will study at Bristol
Student Y will study at Plymouth
Student Z will study at Glasgow
Student Z will study at Bristol
Student Z will study at Plymouth

In [104]:
for T in ['W','X','Y','Z'] : 
  for S in ['Glasgow','Bristol','Plymouth'] : 
    for U in ['Eng','Fre','Math','Phy','Chem'] : 
      print(f'Student {T} will study {U} at University {S}')

Student W will study Eng at University Glasgow
Student W will study Fre at University Glasgow
Student W will study Math at University Glasgow
Student W will study Phy at University Glasgow
Student W will study Chem at University Glasgow
Student W will study Eng at University Bristol
Student W will study Fre at University Bristol
Student W will study Math at University Bristol
Student W will study Phy at University Bristol
Student W will study Chem at University Bristol
Student W will study Eng at University Plymouth
Student W will study Fre at University Plymouth
Student W will study Math at University Plymouth
Student W will study Phy at University Plymouth
Student W will study Chem at University Plymouth
Student X will study Eng at University Glasgow
Student X will study Fre at University Glasgow
Student X will study Math at University Glasgow
Student X will study Phy at University Glasgow
Student X will study Chem at University Glasgow
Student X will study Eng at University Bristol
Student X will study Fre at University Bristol
Student X will study Math at University Bristol
Student X will study Phy at University Bristol
Student X will study Chem at University Bristol
Student X will study Eng at University Plymouth
Student X will study Fre at University Plymouth
Student X will study Math at University Plymouth
Student X will study Phy at University Plymouth
Student X will study Chem at University Plymouth
Student Y will study Eng at University Glasgow
Student Y will study Fre at University Glasgow
Student Y will study Math at University Glasgow
Student Y will study Phy at University Glasgow
Student Y will study Chem at University Glasgow
Student Y will study Eng at University Bristol
Student Y will study Fre at University Bristol
Student Y will study Math at University Bristol
Student Y will study Phy at University Bristol
Student Y will study Chem at University Bristol
Student Y will study Eng at University Plymouth
Student Y will study Fre at University Plymouth
Student Y will study Math at University Plymouth
Student Y will study Phy at University Plymouth
Student Y will study Chem at University Plymouth
Student Z will study Eng at University Glasgow
Student Z will study Fre at University Glasgow
Student Z will study Math at University Glasgow
Student Z will study Phy at University Glasgow
Student Z will study Chem at University Glasgow
Student Z will study Eng at University Bristol
Student Z will study Fre at University Bristol
Student Z will study Math at University Bristol
Student Z will study Phy at University Bristol
Student Z will study Chem at University Bristol
Student Z will study Eng at University Plymouth
Student Z will study Fre at University Plymouth
Student Z will study Math at University Plymouth
Student Z will study Phy at University Plymouth
Student Z will study Chem at University Plymouth

In [105]:
Letters = 'abcdefghijklmnopqrstuvwxyz'
PasswordOptions = []
for c1 in Letters : 
  for c2 in Letters : 
    for c3 in Letters : 
      PasswordOptions.append(c1+c2+c3)

In [106]:
len(PasswordOptions)

17576

In [107]:
len(Letters)

26

In [108]:
26**3

17576

In [110]:
print(PasswordOptions[:100])

['aaa', 'aab', 'aac', 'aad', 'aae', 'aaf', 'aag', 'aah', 'aai', 'aaj', 'aak', 'aal', 'aam', 'aan', 'aao', 'aap', 'aaq', 'aar', 'aas', 'aat', 'aau', 'aav', 'aaw', 'aax', 'aay', 'aaz', 'aba', 'abb', 'abc', 'abd', 'abe', 'abf', 'abg', 'abh', 'abi', 'abj', 'abk', 'abl', 'abm', 'abn', 'abo', 'abp', 'abq', 'abr', 'abs', 'abt', 'abu', 'abv', 'abw', 'abx', 'aby', 'abz', 'aca', 'acb', 'acc', 'acd', 'ace', 'acf', 'acg', 'ach', 'aci', 'acj', 'ack', 'acl', 'acm', 'acn', 'aco', 'acp', 'acq', 'acr', 'acs', 'act', 'acu', 'acv', 'acw', 'acx', 'acy', 'acz', 'ada', 'adb', 'adc', 'add', 'ade', 'adf', 'adg', 'adh', 'adi', 'adj', 'adk', 'adl', 'adm', 'adn', 'ado', 'adp', 'adq', 'adr', 'ads', 'adt', 'adu', 'adv']

In [112]:
print(PasswordOptions[-100:])

['zwe', 'zwf', 'zwg', 'zwh', 'zwi', 'zwj', 'zwk', 'zwl', 'zwm', 'zwn', 'zwo', 'zwp', 'zwq', 'zwr', 'zws', 'zwt', 'zwu', 'zwv', 'zww', 'zwx', 'zwy', 'zwz', 'zxa', 'zxb', 'zxc', 'zxd', 'zxe', 'zxf', 'zxg', 'zxh', 'zxi', 'zxj', 'zxk', 'zxl', 'zxm', 'zxn', 'zxo', 'zxp', 'zxq', 'zxr', 'zxs', 'zxt', 'zxu', 'zxv', 'zxw', 'zxx', 'zxy', 'zxz', 'zya', 'zyb', 'zyc', 'zyd', 'zye', 'zyf', 'zyg', 'zyh', 'zyi', 'zyj', 'zyk', 'zyl', 'zym', 'zyn', 'zyo', 'zyp', 'zyq', 'zyr', 'zys', 'zyt', 'zyu', 'zyv', 'zyw', 'zyx', 'zyy', 'zyz', 'zza', 'zzb', 'zzc', 'zzd', 'zze', 'zzf', 'zzg', 'zzh', 'zzi', 'zzj', 'zzk', 'zzl', 'zzm', 'zzn', 'zzo', 'zzp', 'zzq', 'zzr', 'zzs', 'zzt', 'zzu', 'zzv', 'zzw', 'zzx', 'zzy', 'zzz']

In [113]:
# List Comprehensive

In [114]:
Grades = [5,2,3,6,5,8,5,2,6,9,3,2,1]
Values = []

for g,n in zip(Grades,Names) : 
  Value = ((g*1.5)/20)*100
  Values.append(Value)

  # print(f'The Student {n} grades at Chemistry is {Value} %')
Values

[37.5, 15.0, 22.5, 45.0, 37.5, 60.0, 37.5, 15.0]

In [115]:
Grades = [5,2,3,6,5,8,5,2,6,9,3,2,1]


Values = [i*3 for i in Grades]
Values

[15, 6, 9, 18, 15, 24, 15, 6, 18, 27, 9, 6, 3]

In [117]:
Grades = [5,2,3,6,5,8,5,2,6,9,3,2,1]


Values = [((g*1.5)/20)*100 for g in Grades]
Values

[37.5, 15.0, 22.5, 45.0, 37.5, 60.0, 37.5, 15.0, 45.0, 67.5, 22.5, 15.0, 7.5]

In [121]:
Values = [f'The Student grades at Chemistry is {((g*1.5)/20)*100} %' for g in Grades]
Values

['The Student grades at Chemistry is 37.5 %',
 'The Student grades at Chemistry is 15.0 %',
 'The Student grades at Chemistry is 22.5 %',
 'The Student grades at Chemistry is 45.0 %',
 'The Student grades at Chemistry is 37.5 %',
 'The Student grades at Chemistry is 60.0 %',
 'The Student grades at Chemistry is 37.5 %',
 'The Student grades at Chemistry is 15.0 %',
 'The Student grades at Chemistry is 45.0 %',
 'The Student grades at Chemistry is 67.5 %',
 'The Student grades at Chemistry is 22.5 %',
 'The Student grades at Chemistry is 15.0 %',
 'The Student grades at Chemistry is 7.5 %']

In [123]:
Values = [f'The Student {n+1} grades at Chemistry is {((g*1.5)/20)*100} %' for n,g in enumerate(Grades)]
Values

['The Student 1  grades at Chemistry is 37.5 %',
 'The Student 2  grades at Chemistry is 15.0 %',
 'The Student 3  grades at Chemistry is 22.5 %',
 'The Student 4  grades at Chemistry is 45.0 %',
 'The Student 5  grades at Chemistry is 37.5 %',
 'The Student 6  grades at Chemistry is 60.0 %',
 'The Student 7  grades at Chemistry is 37.5 %',
 'The Student 8  grades at Chemistry is 15.0 %',
 'The Student 9  grades at Chemistry is 45.0 %',
 'The Student 10  grades at Chemistry is 67.5 %',
 'The Student 11  grades at Chemistry is 22.5 %',
 'The Student 12  grades at Chemistry is 15.0 %',
 'The Student 13  grades at Chemistry is 7.5 %']

In [124]:
Grades = [5,2,3,6,5,5,8,5]
Names = ['s','f','g','h','j','k','c','s']
# Country = ['SS','FF','SS','VV','CC','XX','ZZ','WW']

for g,n,c in zip(Grades,Names,Country) : 
  Value = ((g*1.5)/20)*100
  # print(f'The Student {n} from Country {c} grades at Chemistry is {Value} %')
  print(f'The Student {n}  grades at Chemistry is {Value} %')

The Student s  grades at Chemistry is 37.5 %
The Student f  grades at Chemistry is 15.0 %
The Student g  grades at Chemistry is 22.5 %
The Student h  grades at Chemistry is 45.0 %
The Student j  grades at Chemistry is 37.5 %
The Student k  grades at Chemistry is 37.5 %
The Student c  grades at Chemistry is 60.0 %
The Student s  grades at Chemistry is 37.5 %

In [127]:
Values = [f'The Student {n} from Country {c}  grades at Chemistry is {((g*1.5)/20)*100} %' for n,g,c in zip(Names,Grades,Country)]
Values

['The Student s from Country SS  grades at Chemistry is 37.5 %',
 'The Student f from Country FF  grades at Chemistry is 15.0 %',
 'The Student g from Country SS  grades at Chemistry is 22.5 %',
 'The Student h from Country VV  grades at Chemistry is 45.0 %',
 'The Student j from Country CC  grades at Chemistry is 37.5 %',
 'The Student k from Country XX  grades at Chemistry is 37.5 %',
 'The Student c from Country ZZ  grades at Chemistry is 60.0 %',
 'The Student s from Country WW  grades at Chemistry is 37.5 %']