In [ ]:
r = 5
A = 3.14 * (r**2)
A

78.5

In [ ]:
r = 7
A = 3.14 * (r**2)
A

153.86

In [ ]:
r = 20
A = 3.14 * (r**2)
A

1256.0

In [ ]:
def CircleArea(r) : 
  Area = 3.14 * (r**2)
  print(Area)

In [ ]:
def CircleArea(r) : 
  print( 3.14 * (r**2))

In [ ]:
CircleArea(r = 7)

153.86

In [ ]:
def SphereVolume(f):
  Volume = (4/3) * 3.14 * (f**3)
  print(Volume)

In [ ]:
SphereVolume(f = 15)

14130.0

In [ ]:
SphereVolume(15)

14130.0

In [ ]:
def TriangleArea(B,H) : 
  Area = 0.5 * B * H
  print(f'Area of Triangle with Base {B} And Height {H} is {Area}')

In [ ]:
TriangleArea(B = 4 , H = 9)

Area of Triangle with Base 4 And Height 9 is 18.0

In [ ]:
TriangleArea(4,9)

Area of Triangle with Base 4 And Height 9 is 18.0

In [ ]:
TriangleArea(9,4)

Area of Triangle with Base 9 And Height 4 is 18.0

In [ ]:
def PersonDetails(Name,Year,Salary,Study) : 
  print(f'my name is {Name} , and I`m {2023-Year} years old and I get paid {Salary} per year and I studied {Study}')

In [ ]:
PersonDetails('Mahmoud',1990,15000,'Chemistry')

my name is Mahmoud , and I`m 33 years old and I get paid 15000 per year and I studied Chemistry

In [ ]:
PersonDetails('Chemistry',15000,1990,'Mahmoud')

my name is Chemistry , and I`m -12977 years old and I get paid 1990 per year and I studied Mahmoud

In [ ]:
PersonDetails(Study='Chemistry', Salary = 15000 , Year = 1990 , Name = 'Mahmoud')

my name is Mahmoud , and I`m 33 years old and I get paid 15000 per year and I studied Chemistry

In [ ]:
def SphereVolume(f):
  Volume = (4/3) * 3.14 * (f**3)
  return Volume

In [ ]:
ThisVolume = SphereVolume(17)

In [ ]:
ThisVolume

20569.093333333334

In [ ]:
def Apologize() : 
  print('we are sorry , you entered password 3 times wrong , computer will restart now')

In [ ]:
Apologize()

we are sorry , you entered password 3 times wrong , computer will restart now

In [ ]:
ThisVolume = SphereVolume()

TypeError: ignored

In [ ]:
ThisVolume = SphereVolume(17,8)

TypeError: ignored

In [ ]:
Apologize(45)

TypeError: ignored

In [ ]:
def CirleAnalysis(r) : 
  Area = 3.14 * (r**2)
  Perimeter = 2*3.14*(r)
  return Area , Perimeter

In [ ]:
# def CirleAnalysis(r) : 
#   Area = 3.14 * (r**2)
#   Perimeter = 2*3.14*(r)
#   return Area 
#   return Perimeter

In [ ]:
ThisArea,ThisPerimiter =  CirleAnalysis(7)

In [ ]:
ThisArea

153.86

In [ ]:
ThisPerimiter

43.96

In [ ]:
for i in 'hi how are you' : 
  print(i)

h
i

h
o
w

a
r
e

y
o
u

In [ ]:
for i in 'hi how are you'.split() : 
  print(i)

hi
how
are
you

In [ ]:
Word = 'hi how are you ????'

Word = Word.replace('?','')
Word

'hi how are you ????'

In [76]:
def TextAnalysis(text) : 
  def CharacterCount(MyText,Char) : 
    return str(MyText).count(Char)
  def OriginalWordLengthDef(Word) : 
    return len(Word)
  def CleanedWordLengthDef(Word) : 
    for char in '~!@#$%^&*()_+?' : 
      Word = Word.replace(char,'')
    return len(Word)

  SpecialCharDict = {}
  OriginalWordLengthDict = {}
  CleanedWordLengthDict = {}
  for i in '~!@#$%^&*()_+?' : 
    SpecialCharDict[i] = CharacterCount(text,i)
  for Word in text.split() : 
    OriginalWordLengthDict[Word] = OriginalWordLengthDef(Word)
    CleanedWordLengthDict[Word] = CleanedWordLengthDef(Word)

  
  return SpecialCharDict, OriginalWordLengthDict,CleanedWordLengthDict

In [77]:
Phrase = 'hi!! how?? are$%  you &  my )brother!! '

TextAnalysis(Phrase)

({'~': 0,
  '!': 4,
  '@': 0,
  '#': 0,
  '$': 1,
  '%': 1,
  '^': 0,
  '&': 1,
  '*': 0,
  '(': 0,
  ')': 1,
  '_': 0,
  '+': 0,
  '?': 2},
 {'hi!!': 4,
  'how??': 5,
  'are$%': 5,
  'you': 3,
  '&': 1,
  'my': 2,
  ')brother!!': 10},
 {'hi!!': 2,
  'how??': 3,
  'are$%': 3,
  'you': 3,
  '&': 0,
  'my': 2,
  ')brother!!': 7})

In [78]:
Capital = {}

Capital['France'] = 'Paris'

Capital

{'France': 'Paris'}

In [79]:
Capital['France'] = 'Leon'
Capital

{'France': 'Leon'}

In [80]:
def CircleArea(r,pi) : 
  Area = pi * (r**2)
  return Area

In [81]:
CircleArea(5,3.14)

78.5

In [83]:
def CircleArea(r,pi = 3.14) : 
  Area = pi * (r**2)
  return Area

In [84]:
CircleArea(5,3)

75

In [85]:
CircleArea(5)

78.5

In [101]:
def TextCleaning(Text,SpecialChar='!@#$%^&()',Limit = 1000) : 
  Text = Text.lower()
  for char in SpecialChar : 
    Text = Text.replace(char,'')
  LimitedText = Text[:Limit]
  return LimitedText

In [98]:
LongText = '''
World War II or the Second!!! World War, often abbreviated as WWII or WW2, was a global conflict that lasted from 1939 to 1945. The vast majority of the world's countries, including all of the great powers, fought as part of two opposing military alliances: the Allies and the Axis. Many participants threw their economic, industrial, and scientific capabilities behind this total war, blurring the distinction between civilian and military resources. Aircraft played a major role, enabling the strategic bombing of population centres and the delivery of the only two nuclear weapons ever used in war.

World War II was by far the ??? deadliest conflict in human history; it resulted in 70 to 85 million fatalities, mostly among civilians. Tens of millions died due to genocides (including the Holocaust), starvation, massacres, and disease. In the wake of the Axis defeat, Germany and Japan were occupied, and war crimes tribunals were conducted against German and Japanese leaders.

The causes of World War II are debated, $%^&but contributing factors included the Second Italo-Ethiopian War, Spanish Civil War, Second Sino-Japanese War, Soviet–Japanese border conflicts, the rise of fascism in Europe, and European tensions in the aftermath of World War I. World War II is generally considered to have begun on 1 September 1939, when Nazi Germany, under Adolf Hitler, invaded Poland. The United Kingdom and France subsequently declared war on Germany on 3 September. Under the Molotov–Ribbentrop Pact of August 1939, Germany and the Soviet Union had partitioned Poland and marked out their "spheres of influence" across Finland, Estonia, Latvia, Lithuania and Romania. From late 1939 to early 1941, in a series of campaigns and treaties, Germany conquered or controlled much of continental Europe, and formed the Axis alliance with Italy and Japan (with other countries joining later). Following the onset of campaigns in North Africa and East Africa, and the fall of France in mid-1940, the war continued primarily between the European Axis powers and the British Empire, with war in the Balkans, the aerial Battle of Britain, the Blitz of the United Kingdom, and the Battle of the Atlantic. On 22 June 1941, Germany led the European Axis powers in an invasion of the Soviet Union, opening the Eastern Front, th
'''

In [99]:
TextCleaning(LongText,'?!@#$%^&*,.\n',200)

"world war ii or the second world war often abbreviated as wwii or ww2 was a global conflict that lasted from 1939 to 1945 the vast majority of the world's countries including all of the great powers f"

In [102]:
TextCleaning(LongText,Limit = 200)

"\nworld war ii or the second world war, often abbreviated as wwii or ww2, was a global conflict that lasted from 1939 to 1945. the vast majority of the world's countries, including all of the great pow"

In [89]:
# List = [1,2,3,5,8,5,6,9,6]
# List[:5]

In [90]:
# Phrase = 'skfjsdkjvns;vkjnsvkj;snvksd'
# Phrase[:10]

In [103]:
def MyFunction():
    for i in range(10):
        return i
        
MyFunction()

0

In [104]:
def yie():
    for i in range(10):
        yield i
        
for g in yie():
       print(g)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def yie():
    for i in range(10):
        yield i
        
for g in yie():
       print(g)

In [106]:
def yie():
    for i in range(10):
        yield i
           
f = yie()

In [107]:
print (next(f))

0

In [108]:
print (next(f))

1

In [109]:
print (next(f))

2

In [111]:
def fibon(n):
    a = b = 1
    result =[]
    for i in range(n):
        result.append (a)
        a , b = b , a+b
    return result

print (fibon(20))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [112]:
def fibon(n):
    a = b = 1
     
    for i in range(n):
        yield  a
        a , b = b , a+b
     
for x in fibon(20):
    print (x)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [113]:
class car : 
    length = 15
    width = 8
    height = 6
    color = 'white'
    volume = length * width * height

In [115]:
car.color

'white'

In [116]:
car.length

15

In [117]:
car.volume

720

In [118]:
class car : 
    length = 15
    width = 8
    height = 6
    color = 'white'
    volume = length * width * height

In [119]:
Mercedes = car
Mercedes.volume

720

In [120]:
Mercedes.length = 20

In [121]:
Mercedes.length

20

In [122]:
Mercedes.color = 'blue'

In [123]:
BMW = car
BMW.length = 18
BMW.color = 'red'

In [124]:
class d :  
    def square(n) : 
        print (n**2)
    
    def summ(a,b,c,d,e,f) : 
        return ((a+b-c+e)*(d+f))
a = d    
a.square(3)

9

In [125]:
print (a.summ(1,2,3,4,5,7))

55

In [127]:
f = 15

f += 10

f

25

In [128]:
s = 40

s*=5

s

200

In [131]:
class Account:
    def __init__(self, name, account_number, initial_amount):
        self.name = name
        self.no = account_number
        self.balance = initial_amount
    def deposit(self, amount):
        self.balance += amount
    def withdraw(self, amount):
        self.balance -= amount
    def show(self):
        s = f'{self.name} with account number {self.no} has banalce of {self.balance} '
        print (s)

In [132]:
a1 = Account('John Olsson', '19371554951', 20000)
a2 = Account('Liz Olsson', '19371564761', 50000)

In [133]:
print("a1 balance :  " , a1.balance )
print("a2 no      :  " ,   a2.no)

a1 balance :   20000
a2 no      :   19371564761

In [134]:

a1.deposit(1000)
a1.withdraw(4000)
a2.withdraw(10500)
a1.withdraw(3500)

In [135]:
print ("a1's balance:", a1.balance)
print ("a2's balance:", a2.balance)

a1's balance: 13500
a2's balance: 39500

In [136]:
a1.show()
a2.show()

John Olsson with account number 19371554951 has banalce of 13500
Liz Olsson with account number 19371564761 has banalce of 39500

In [ ]:
class Person:
    def __init__(self, name,mobile_phone=None, office_phone=None,private_phone=None, email=None):
        self.name = name
        self.mobile = mobile_phone
        self.office = office_phone
        self.private = private_phone
        self.email = email
    def add_mobile_phone(self, number):
        self.mobile = number
    def add_office_phone(self, number):
        self.office = number
    def add_private_phone(self, number):
        self.private = number
    def add_email(self, address):
        self.email = address
    def dump(self):
        s = self.name + '\n'
        if self.mobile is not None:
            s += 'mobile phone: %s\n' % self.mobile
        if self.office is not None:
            s += 'office phone: %s\n' % self.office
        if self.private is not None:
            s += 'private phone: %s\n' % self.private
        if self.email is not None:
            s += 'email address: %s\n' % self.email
        print (s)

p1 = Person('Hans Hanson',office_phone='767828283', email='h@hanshanson.com')
p2 = Person('Ole Olsen', office_phone='767828292')
p2.add_email('olsen@somemail.net')
phone_book = [p1, p2]

for person in phone_book:
    person.dump()

In [ ]:
Text = '''
World War ** ** ** ** World War, often abbreviated as WWII or WW2, was a global conflict that lasted from 1939 to 1945. The vast majority of the world's countries, including all of the great powers, fought as part of two opposing military alliances: the Allies and the Axis. Many participants threw their economic, industrial, and scientific capabilities behind this total war, blurring the distinction between civilian and military resources. Aircraft played a major role, enabling the strategic bombing of population centres and the delivery of the only two nuclear weapons ever used in war.

World War II was by far the deadliest conflict in human history; it resulted in 70 to 85 million fatalities, mostly among civilians. Tens of millions died due to genocides (including the Holocaust), starvation, massacres, and disease. In the wake of the Axis defeat, Germany and Japan were occupied, and war crimes tribunals were conducted against German and Japanese leaders.

The causes of World War II are debated, but contributing factors included the Second Italo-Ethiopian War, Spanish Civil War, Second Sino-Japanese War, Soviet–Japanese border conflicts, the rise of fascism in Europe, and European tensions in the aftermath of World War I. World War II is generally considered to have begun on 1 September 1939, when Nazi Germany, under Adolf Hitler, invaded Poland. The United Kingdom and France subsequently declared war on Germany on 3 September. Under the Molotov–Ribbentrop Pact of August 1939, Germany and the Soviet Union had partitioned Poland and marked out their "spheres of influence" across Finland, Estonia, Latvia, Lithuania and Romania. From late 1939 to early 1941, in a series of campaigns and treaties, Germany conquered or controlled much of continental Europe, and formed the Axis alliance with Italy and Japan (with other countries joining later). Following the onset of campaigns in North Africa and East Africa, and the fall of France in mid-1940, the war continued primarily between the European Axis powers and the British Empire, with war in the Balkans, the aerial Battle of Britain, the Blitz of the United Kingdom, and the Battle of the Atlantic. On 22 June 1941, Germany led the European Axis powers in an invasion of the Soviet Union, opening the Eastern Front, th

'''

In [138]:
Text = '''
World War II or the Second World War, often abbreviated as WWII or WW2, was a global conflict that lasted from 1939 to 1945. The vast majority of the world's countries, including all of the great powers, fought as part of two opposing military alliances: the Allies and the Axis. Many participants threw their economic, industrial, and scientific capabilities behind this total war, blurring the distinction between civilian and military resources. Aircraft played a major role, enabling the strategic bombing of population centres and the delivery of the only two nuclear weapons ever used in war.

World War II was by far the deadliest conflict in human history; it resulted in 70 to 85 million fatalities, mostly among civilians. Tens of millions died due to genocides (including the Holocaust), starvation, massacres, and disease. In the wake of the Axis defeat, Germany and Japan were occupied, and war crimes tribunals were conducted against German and Japanese leaders.

The causes of World War II are debated, but contributing factors included the Second Italo-Ethiopian War, Spanish Civil War, Second Sino-Japanese War, Soviet–Japanese border conflicts, the rise of fascism in Europe, and European tensions in the aftermath of World War I. World War II is generally considered to have begun on 1 September 1939, when Nazi Germany, under Adolf Hitler, invaded Poland. The United Kingdom and France subsequently declared war on Germany on 3 September. Under the Molotov–Ribbentrop Pact of August 1939, Germany and the Soviet Union had partitioned Poland and marked out their "spheres of influence" across Finland, Estonia, Latvia, Lithuania and Romania. From late 1939 to early 1941, in a series of campaigns and treaties, Germany conquered or controlled much of continental Europe, and formed the Axis alliance with Italy and Japan (with other countries joining later). Following the onset of campaigns in North Africa and East Africa, and the fall of France in mid-1940, the war continued primarily between the European Axis powers and the British Empire, with war in the Balkans, the aerial Battle of Britain, the Blitz of the United Kingdom, and the Battle of the Atlantic. On 22 June 1941, Germany led the European Axis powers in an invasion of the Soviet Union, opening the Eastern Front, th

'''

WordLength = [len(word) for word in Text.split()]
print(WordLength)

[5, 3, 2, 2, 3, 6, 5, 4, 5, 11, 2, 4, 2, 4, 3, 1, 6, 8, 4, 6, 4, 4, 2, 5, 3, 4, 8, 2, 3, 7, 10, 9, 3, 2, 3, 5, 7, 6, 2, 4, 2, 3, 8, 8, 10, 3, 6, 3, 3, 5, 4, 12, 5, 5, 9, 11, 3, 10, 12, 6, 4, 5, 4, 8, 3, 11, 7, 8, 3, 8, 10, 8, 6, 1, 5, 5, 8, 3, 9, 7, 2, 10, 7, 3, 3, 8, 2, 3, 4, 3, 7, 7, 4, 4, 2, 4, 5, 3, 2, 3, 2, 3, 3, 9, 8, 2, 5, 8, 2, 8, 2, 2, 2, 2, 7, 11, 6, 5, 10, 4, 2, 8, 4, 3, 2, 9, 10, 3, 11, 11, 10, 3, 8, 2, 3, 4, 2, 3, 4, 7, 7, 3, 5, 4, 9, 3, 3, 6, 9, 4, 9, 7, 6, 3, 8, 8, 3, 6, 2, 5, 3, 2, 3, 8, 3, 12, 7, 8, 3, 6, 15, 4, 7, 5, 4, 6, 13, 4, 15, 6, 10, 3, 4, 2, 7, 2, 7, 3, 8, 8, 2, 3, 9, 2, 5, 3, 2, 5, 3, 2, 2, 9, 10, 2, 4, 5, 2, 1, 9, 5, 4, 4, 8, 5, 5, 7, 7, 7, 3, 6, 7, 3, 6, 12, 8, 3, 2, 7, 2, 1, 10, 5, 3, 18, 4, 2, 6, 5, 7, 3, 3, 6, 5, 3, 11, 6, 3, 6, 3, 5, 8, 2, 10, 6, 8, 8, 7, 9, 3, 8, 4, 4, 4, 2, 5, 5, 2, 1, 6, 2, 9, 3, 9, 7, 9, 2, 10, 4, 2, 11, 7, 3, 6, 3, 4, 8, 4, 5, 3, 5, 5, 5, 9, 7, 7, 9, 3, 5, 2, 9, 2, 5, 6, 3, 4, 7, 3, 3, 4, 2, 6, 2, 9, 3, 3, 9, 9, 7, 3, 8, 4, 6, 3, 3, 7, 7, 4, 3, 2, 3, 8, 3, 6, 6, 2, 8, 3, 5, 2, 3, 6, 8, 3, 3, 6, 2, 3, 9, 2, 2, 4, 5, 7, 3, 3, 8, 4, 6, 2, 2, 8, 2, 3, 6, 6, 7, 3, 7, 6, 2]

In [139]:
WordLength = [len(word) for word in Text.split() if word[0]=='a']
print(WordLength)

[11, 2, 1, 3, 2, 10, 3, 3, 3, 1, 3, 5, 3, 3, 3, 7, 3, 3, 3, 9, 3, 3, 3, 6, 3, 1, 3, 3, 8, 3, 3, 3, 3, 6, 3, 2]

In [140]:
WordWithA = [word for word in Text.split() if word[0]=='a']
print(WordWithA)

['abbreviated', 'as', 'a', 'all', 'as', 'alliances:', 'and', 'and', 'and', 'a', 'and', 'among', 'and', 'and', 'and', 'against', 'and', 'are', 'and', 'aftermath', 'and', 'and', 'and', 'across', 'and', 'a', 'and', 'and', 'alliance', 'and', 'and', 'and', 'and', 'aerial', 'and', 'an']

In [141]:
WordWithA = [word for word in Text.split() if word[-1]=='l']
print(WordWithA)

['global', 'all', 'total', 'Civil', 'continental', 'fall', 'aerial']

In [145]:
LongWords = [word for word in Text.split() if len(word)>=15]
print(LongWords)

['Italo-Ethiopian', 'Soviet–Japanese', 'Molotov–Ribbentrop']

In [148]:
WordLengthCount = {}
for i in range(1,21) : 
  WordLengthCount[i] = len([word for word in Text.split() if len(word)==i])

In [149]:
WordLengthCount

{1: 5,
 2: 58,
 3: 77,
 4: 41,
 5: 37,
 6: 34,
 7: 33,
 8: 34,
 9: 22,
 10: 13,
 11: 8,
 12: 4,
 13: 1,
 14: 0,
 15: 2,
 16: 0,
 17: 0,
 18: 1,
 19: 0,
 20: 0}

In [150]:
[word for word in Text.split() if len(word)==15]

['Italo-Ethiopian', 'Soviet–Japanese']

In [151]:
[word for word in Text.split() if ',' in word]

['War,',
 'WW2,',
 'countries,',
 'powers,',
 'economic,',
 'industrial,',
 'war,',
 'role,',
 'fatalities,',
 'Holocaust),',
 'starvation,',
 'massacres,',
 'defeat,',
 'occupied,',
 'debated,',
 'War,',
 'War,',
 'War,',
 'conflicts,',
 'Europe,',
 '1939,',
 'Germany,',
 'Hitler,',
 '1939,',
 'Finland,',
 'Estonia,',
 'Latvia,',
 '1941,',
 'treaties,',
 'Europe,',
 'Africa,',
 'mid-1940,',
 'Empire,',
 'Balkans,',
 'Britain,',
 'Kingdom,',
 '1941,',
 'Union,',
 'Front,']

In [ ]:
Text = '''
World War II or the Second World War, often abbreviated as WWII or WW2, was a global conflict that lasted from 1939 to 1945. The vast majority of the world's countries, including all of the great powers, fought as part of two opposing military alliances: the Allies and the Axis. Many participants threw their economic, industrial, and scientific capabilities behind this total war, blurring the distinction between civilian and military resources. Aircraft played a major role, enabling the strategic bombing of population centres and the delivery of the only two nuclear weapons ever used in war.

World War II was by far the deadliest conflict in human history; it resulted in 70 to 85 million fatalities, mostly among civilians. Tens of millions died due to genocides (including the Holocaust), starvation, massacres, and disease. In the wake of the Axis defeat, Germany and Japan were occupied, and war crimes tribunals were conducted against German and Japanese leaders.

The causes of World War II are debated, but contributing factors included the Second Italo-Ethiopian War, Spanish Civil War, Second Sino-Japanese War, Soviet–Japanese border conflicts, the rise of fascism in Europe, and European tensions in the aftermath of World War I. World War II is generally considered to have begun on 1 September 1939, when Nazi Germany, under Adolf Hitler, invaded Poland. The United Kingdom and France subsequently declared war on Germany on 3 September. Under the Molotov–Ribbentrop Pact of August 1939, Germany and the Soviet Union had partitioned Poland and marked out their "spheres of influence" across Finland, Estonia, Latvia, Lithuania and Romania. From late 1939 to early 1941, in a series of campaigns and treaties, Germany conquered or controlled much of continental Europe, and formed the Axis alliance with Italy and Japan (with other countries joining later). Following the onset of campaigns in North Africa and East Africa, and the fall of France in mid-1940, the war continued primarily between the European Axis powers and the British Empire, with war in the Balkans, the aerial Battle of Britain, the Blitz of the United Kingdom, and the Battle of the Atlantic. On 22 June 1941, Germany led the European Axis powers in an invasion of the Soviet Union, opening the Eastern Front, th

'''

In [155]:
NewText = [Word if Word[0].lower() == 'w' else '**' for Word in Text.split()]
' '.join(NewText)

"World War ** ** ** ** World War, ** ** ** WWII ** WW2, was ** ** ** ** ** ** ** ** ** ** ** ** ** ** world's ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** war, ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** weapons ** ** ** war. World War ** was ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** wake ** ** ** ** ** ** ** were ** ** war ** ** were ** ** ** ** ** ** ** ** ** World War ** ** ** ** ** ** ** ** ** ** War, ** ** War, ** ** War, ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** World War ** World War ** ** ** ** ** ** ** ** ** ** ** when ** ** ** ** ** ** ** ** ** ** ** ** ** ** war ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** with ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** war ** ** ** ** ** ** ** ** ** ** ** with war ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **"

In [163]:
class Degrees : 
  def __init__(self,Name,Subject,Degree) : 
    self.MyName = Name
    self.MySubject = Subject
    self.MyDegree = Degree

  def Percentage(self,Total) : 
    print(f'My name is {self.MyName} and my percentage is {100* self.MyDegree/Total}%')


  def ShowDetails(self) : 
    print(f'my name is {self.MyName} , I study {self.MySubject} and I got {self.MyDegree}')

In [164]:
Student1 = Degrees('Mahmoud','Physics',20)
Student1.ShowDetails()

my name is Mahmoud , I study Physics and I got 20

In [165]:
Student1.Percentage(30)

My name is Mahmoud and my percentage is 66.66666666666667%