In [1]:
import pandas as pd

In [34]:
data = pd.read_csv('07 Tweets.csv')
data.head(3)

,truncated,text,in_reply_to_status_id,id,favorite_count,source,retweeted,coordinates,entities,in_reply_to_screen_name,...,retweet_count,in_reply_to_user_id,favorited,user,geo,in_reply_to_user_id_str,lang,created_at,in_reply_to_status_id_str,Label
0,False,"Now 10 dead in a shooting there today RT ""@BBC...",5.530000e+17,5.527850e+17,0,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,0,331658004.0,False,"{'follow_request_sent': False, 'profile_use_ba...",NaN,331658004.0,en,Wed Jan 07 11:14:08 +0000 2015,5.530000e+17,0
1,False,@BBCDanielS @BBCWorld I'm guessing this is bei...,5.530000e+17,5.527870e+17,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,0,331658004.0,False,"{'follow_request_sent': False, 'profile_use_ba...",NaN,331658004.0,en,Wed Jan 07 11:20:08 +0000 2015,5.530000e+17,0
2,False,@BBCDanielS @BBCWorld why would you mention th...,5.530000e+17,5.527870e+17,0,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,1,331658004.0,False,"{'follow_request_sent': False, 'profile_use_ba...",NaN,331658004.0,en,Wed Jan 07 11:20:18 +0000 2015,5.530000e+17,0

In [35]:
data.shape

(100, 21)

In [36]:
ThisDate = data['created_at'][0]
ThisDate

'Wed Jan 07 11:14:08 +0000 2015'

In [50]:
ThisDate.split()[3].split(':')[0]

'11'

In [63]:
%%time
data['TweetYear'] = data['created_at'].apply(lambda x : x.split()[5])
data['TweetMonth'] = data['created_at'].apply(lambda x : x.split()[1])
data['TweetDay'] = data['created_at'].apply(lambda x : x.split()[2])
# data['DayName'] = data['created_at'].apply(lambda x : x.split()[0])
data['WholeDate'] = data.apply(lambda x : pd.Timestamp(str(x['TweetYear']) + '-' + str(x['TweetMonth']) + '-' + str(x['TweetDay'])).day_name()  ,axis=1 )
data['TweetHour'] = data['created_at'].apply(lambda x : x.split()[3].split(':')[0])

def GetDayPartFromHour(n) : 
    n = int(n)
    if n<= 6 : 
        return 'Early Morning'
    elif  n <=10 :
        return 'Morning'
    elif n <= 13 : 
        return 'Noon'
    elif n <= 17 : 
        return 'Evening'
    else : 
        return 'Night'



data['DayPart'] = data['TweetHour'].apply( lambda ka3bosha : GetDayPartFromHour(ka3bosha))


# 'Wed Jan 07 11:14:08 +0000 2015'


def GetDayNameFromDate(h) : 
    ThisYear = h.split()[5]
    ThisMonth = h.split()[1]
    ThisDay= h.split()[2]
    WholeDate = str(ThisYear) + '-' + str(ThisMonth) + '-' + str(ThisDay)
    DayName = pd.Timestamp(WholeDate).day_name()
    return DayName

data['NameOfDay'] = data['created_at'].apply(lambda x : GetDayNameFromDate(x))


def CalculateDayNameFromDate(Y,M,D) : 

    WholeDate = str(Y) + '-' + str(M) + '-' + str(D)
    DayName = pd.Timestamp(WholeDate).day_name()
    return DayName
    



data['NewNameOfDay']  = data.apply(lambda x : CalculateDayNameFromDate(x['TweetYear'],x['TweetMonth'],x['TweetDay']) ,axis=1 )

Wall time: 45 ms

In [64]:
# data['WholeDate'] = data.apply(lambda x : pd.Timestamp(str(x['TweetYear']) + '-' + str(x['TweetMonth']) + '-' + str(x['TweetDay'])).day_name()  ,axis=1 )

In [65]:
data.head(2)

,truncated,text,in_reply_to_status_id,id,favorite_count,source,retweeted,coordinates,entities,in_reply_to_screen_name,...,in_reply_to_status_id_str,Label,TweetYear,TweetMonth,TweetDay,WholeDate,TweetHour,DayPart,NameOfDay,NewNameOfDay
0,False,"Now 10 dead in a shooting there today RT ""@BBC...",5.530000e+17,5.527850e+17,0,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,5.530000e+17,0,2015,Jan,07,Wednesday,11,Noon,Wednesday,Wednesday
1,False,@BBCDanielS @BBCWorld I'm guessing this is bei...,5.530000e+17,5.527870e+17,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,5.530000e+17,0,2015,Jan,07,Wednesday,11,Noon,Wednesday,Wednesday

In [54]:
data['TweetHour'].value_counts()

11    54
12    12
00     8
17     6
14     5
13     4
16     3
23     2
15     2
18     1
06     1
08     1
21     1
Name: TweetHour, dtype: int64

In [57]:
data['DayPart'].value_counts()

Noon             70
Evening          16
Early Morning     9
Night             4
Morning           1
Name: DayPart, dtype: int64

In [16]:
data['TweetYear'].value_counts()

2015    100
Name: TweatYear, dtype: int64

In [17]:
data['TweetMonth'].value_counts()

Jan    100
Name: TweatMonth, dtype: int64

In [19]:
data['TweetDay'].value_counts()

07    89
08    10
11     1
Name: TweatDay, dtype: int64

In [21]:
data['DayName'].value_counts()

Wed    89
Thu    10
Sun     1
Name: DayName, dtype: int64

In [45]:

pd.Timestamp('2023-Jan-28').day_name()

'Saturday'

In [24]:
current_date

datetime.date(2023, 5, 28)